@{
    Layout = "_LayoutAdmin";
}

@section Scripts
    {
    <script>
        var UrlsaveMFDtls = '@Url.Action("SaveMFDtls", "Admin")';
        var UrlMF = '@Url.Action("MutualFund", "Admin")';
        var UrlgetMFByID = '@Url.Action("GetMFByID", "Admin")';
        var UrlDelMFID = '@Url.Action("DeleteMFByID", "Admin")';
    </script>
    <script src="~/js/Admin/MutualFund.js" asp-append-version="true"></script>
}
@model PMS.Models.viewmodel;
<style>
    .iconset {
        display: flex;
        padding: 0;
    }

        .iconset li {
            text-align: center;
            list-style: none;
            border: 1px solid gray;
            margin-right: 10px;
            padding: 35px;
            background-color: #df0000;
            color: black;
            font-size: 16px;
            border-radius: 10px;
        }

            .iconset li span {
                color: white;
                font-weight: 600;
                font-size: larger;
            }

    .lblerror {
        position: inherit !important;
        padding: 0 0 0 3px !important;
    }
</style>

<div class="row" style="padding-left: 10px; margin-top: 50px">


    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <h4>Mutual Fund List </h4>
            </div>
           @*  <div class="col-sm-4 text-right" style="display:inherit">
                @using (Html.BeginForm("Users", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Search By Stock ID" id="txtsearch" name="txtsearch" />
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" id="btnSearch" class="btn btn-success" value="Search" />
                        </div>
                    </div>
                }
            </div> *@
            <div class="col-sm-6">
                <input type="button" style="float:right" id="btnadd" data-bs-toggle="modal" data-bs-target="#AddMFModel" class="btn btn-success" value="Add New" />
            </div>
        </div>

        <hr />

        <table id="tblMF" style="width:100%" class="table table-striped">
            <thead>
                <tr>
                    <td>
                        <h6 class="td1" style="font-size:16px">MFID </h6>
                    </td>
                    <td>
                        <h6 class="td1" style="font-size:16px">MFName </h6>
                    </td>
                    <td>
                        <h6 class="td1" style="font-size:16px">House </h6>
                    </td>
                    <td>
                        <h6 class="td1" style="font-size:16px">Type </h6>
                    </td>
                    <td>
                        <h6 class="td1" style="font-size:16px">Face Value</h6>
                    </td>
                    <td>
                        <h6 class="td1" style="font-size:16px">Action</h6>
                    </td>
                </tr>
            </thead>
            @if (Model.lstMFDtls.listMFDtls != null)
            {
                foreach (var data in Model.lstMFDtls.listMFDtls)
                {
                    <tr>
                        <td>@data.MFID</td>
                        <td>@data.MFName</td>
                        <td>@data.FundHouse</td>
                        <td>@data.FundType</td>
                        <td>@data.FaceValue</td>
                        <td>
                            <a href="javascript:void(0)" onclick="getMFdtls(@data.MFID);"><i class="fa fa-list"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)" onclick="deleteMF(@data.MFID);"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" style="text-align:center">No Data Found</td>

                </tr>
            }

        </table>
    </div>

</div>

<div class="modal fade" id="MFViewModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stock Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label id="lblMFid" hidden></label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input ID="txtuMFName" Class="form-control" placeholder="Mutual Fund Name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">House</label>
                            <input ID="txtuFundHouse" Class="form-control" placeholder="Fund House" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <input ID="txtuFundType" Class="form-control" placeholder="Fund Type" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Face Value</label>
                            <input ID="txtuFaceValue" Class="form-control" placeholder="Face Value" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddMFModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Mutual Fund</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label id="lblloginid" hidden></label>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input ID="txtMFName" Class="form-control" placeholder="Mutual Fund Name" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">House</label>
                            <input ID="txtFundHouse" Class="form-control" placeholder="Fund House" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Type</label>
                            <input ID="txtFundType" Class="form-control" placeholder="Fund Type" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">Face Value</label>
                            <input ID="txtFaceValue" Class="form-control" placeholder="Face Value" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnsave" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>